
.color1{
    background-color: aqua;  
}

.color3{
    background-color: brown;
}

.next{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 6%;
}

.newCandidate{
    padding-top: 2%;
    padding-bottom: 2%;
}

.boxShadow{
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 10px 10px 38px -4px rgba(0,0,0,0.75);
}